.netrwhist
npm-debug.log


bin/data

configs-xdg-dir/nvim/spell
configs-xdg-dir/nvim/plugged
configs-xdg-dir/nvim/plugged
configs-xdg-dir/ranger/history
configs-xdg-dir/ranger/bookmarks
configs-xdg-dir/ranger/tagged
