.netrwhist
npm-debug.log

plug.vim.old

config/ranger/history
bin/data

config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/ranger/history
config/ranger/bookmarks
config/ranger/tagged
vim/vim.symlink/spell/
vim/vim.symlink/plugged/
