.netrwhist
npm-debug.log


bin/data

configs-xdg-dir/nvim/spell/en.utf-8.add.spl
configs-xdg-dir/nvim/plugged
configs-xdg-dir/nvim/plugged
configs-xdg-dir/ranger/history
configs-xdg-dir/ranger/bookmarks
configs-xdg-dir/ranger/tagged
configs-xdg-dir/i3/i3.pyc
